<div>
    <form [formGroup]="formSearch.root">
        <select formControlName="searchType">
            <option value="1">Por título</option>
            <option value="2">Por ISBN</option>
        </select>
        &nbsp;
        <input type="text" size="45" formControlName="searchText"/>
        &nbsp;
        <input type="button" value="Pesquisar" [disabled]="formSearch.invalid" (click)="search()" />
        &nbsp;
        <input type="button" value="Limpar" (click)="clearSearch()"/>
    </form>
</div>

<br />
<table style="width: 90%;" border="1">
    <thead>
        <tr>
            <th style="width: 30%;">Título</th>
            <th style="width: 25%;">Autor</th>
            <th style="width: 20%;">Editora</th>
            <th style="width: 10%;">Edição</th>
            <th style="width: 10%;">ISBN</th>
            <th style="width: 5%;">Ano</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td style="text-align: center;">
                {{book.edition}}
            </td>
            <td>{{book.isbn}}</td>
            <td style="text-align: center;">
                {{book.publicationYear}}
            </td>
        </tr>
    </tbody>
</table>